[submodule "ireader-media-server"]
	path = media-server
	url = https://github.com/scpcom/ireader-media-server
[submodule "ireader-avcodec"]
	path = avcodec
	url = https://github.com/scpcom/ireader-avcodec
[submodule "ireader-sdk"]
	path = sdk
	url = https://github.com/scpcom/ireader-sdk
